﻿@{
}
@using crud_test.Models;
@model UserViewModel;
<head>
    <script>
        function isNumberKey(evt) {
            var charCode = (evt.which) ? evt.which : evt.keyCode
            return !(charCode > 31 && (charCode < 48 || charCode > 57));
        }
        
    </script>
</head>
<div>
    <ul style="list-style:none">
        <li>@Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })</li>
        <li>@Html.ValidationMessageFor(model => model.Surname, "", new { @class = "text-danger" })</li>
        <li>@Html.ValidationMessageFor(model => model.MobileNo, "", new { @class = "text-danger" })</li>
        <li>@Html.ValidationMessageFor(model => model.Role, "", new { @class = "text-danger" })</li>
        <li>@Html.ValidationMessageFor(model => model.Username, "", new { @class = "text-danger" })</li>
        <li>@Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })</li>
    </ul>
</div>

<div class="row">
    <div class="col-md-12">
        <form method="post" action="@Url.Action("ReisterUser","User")">
            <div class="form-group">
                <label>Name</label>
                <input type="text" class="form-control" name="Name" placeholder="Name" >
            </div>
            <div class="form-group">
                <label>Surname</label>
                <input type="text" class="form-control" name="Surname" placeholder="Surname" >
            </div>
            <div class="form-group">
                <label>Mobile No.</label>
                <input type="text" class="form-control" name="MobileNo" placeholder="Mobile No." onkeypress="return isNumberKey(event);">
            </div>
            <div class="form-group">
                <label>Role</label>
                <select class="form-control" name="Role">
                    <option>User</option>
                    <option>Admin</option>
                </select>
            </div>
            <div class="form-group">
                <label>Username</label>
                <input type="text" class="form-control" name="Username" placeholder="Username">
            </div>
            <div class="form-group">
                <label>Password</label>
                <input type="password" class="form-control" name="Password" placeholder="Password">
            </div>

            <br/>
            <button class="btn btn-success" type="submit" >Add User</button>
        </form>
    </div>
</div>