﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="row">
    <div class="col-md-12">
        <form method="post" action="@Url.Action("Update","User")">
            <input type="hidden" name="Id" value="@Model.Id" />
            <div class="form-group">
                <label>Name</label>
                <input type="text" class="form-control" name="Name" placeholder="Name" value="@Model.Name" >
            </div>
            <div class="form-group">
                <label>Surname</label>
                <input type="text" class="form-control" name="Surname" placeholder="Surname" value="@Model.Surname" >
            </div>
            <div class="form-group">
                <label>Mobile No.</label>
                <input type="text" class="form-control" name="MobileNo" placeholder="Mobile No." value="@Model.MobileNo" >
            </div>
            <div class="form-group">
                <label>Role</label>
                <select class="form-control" name="Role" value="@Model.Role">
                    <option>User</option>
                    <option>Admin</option>
                </select>
            </div>
            <br />
            <button class="btn btn-success" type="submit">Update User</button>
        </form>
    </div>
</div>