﻿
@{
    ViewData["Title"] = "List";
}

@using crud_test.Models;
@model List<UserViewModel>
@{
    
}
<a href="@Url.Action("Create","User")">Create</a>
<div class="row">
    <div class="col-md-12">
        <div class="table-responsive">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Surname</th>
                        <th>Mobile</th>
                        <th>Role</th>
                        <th>Username</th>
                        <th>Password</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @if(Model != null){
                        @foreach (var staff in Model)
                        {
                            <tr>
                                @if((string)@TempData["Userole"] == "User")
                                {
                                <td>@staff.Name</td>
                                <td>@staff.Surname</td>
                                <td>@staff.MobileNo</td>
                                <td>@staff.Role</td>
                                <td>@staff.Username</td>
                                <td>@staff.Password</td>

                                
                                    
                                }else{
                                    <td>@staff.Name</td>
                                    <td>@staff.Surname</td>
                                    <td>@staff.MobileNo</td>
                                    <td>@staff.Role</td>
                                    <td>@staff.Username</td>
                                    <td>@staff.Password</td>
                                    <td>
                                        <a class="btn btn-sm btn-primary" href="@Url.Action("Edit","user",new {id=staff.Id})">Edit</a>
                                    </td>
                                    <td>
                                        <a class="btn btn-sm btn-danger" href="@Url.Action("Delete","user",new {id=staff.Id})">Delete</a>
                                    </td>

                                }
                                
                            </tr>
                        }
                    }
                    
                    </tbody>
            </table>
        </div>
    </div>
</div>

