﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="row">
    <div class="col-md-12">
        <form method="post" action="@Url.Action("LoginUser","User")">

            <div class="form-group">
                <label>Username</label>
                <input type="text" class="form-control" name="Username" placeholder="Username">
            </div>
            <div class="form-group">
                <label>Password</label>
                <input type="password" class="form-control" name="Password" placeholder="Password">
            </div>

            <br />
            <button class="btn btn-success" type="submit">Login</button>
        </form>
    </div>
</div>